/*this CSS file contains code for form.html, and is linked to global.css*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  
}

form {
    position: absolute;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
  }