* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  text-align: center;
  position: fixed;
  display: flex;
  width: 100%;
  margin-top: -18px;
  background-color: white;
  outline: 2px solid black;
  justify-content: center;
  z-index: 999;
}

h3 {
  text-align: center;
  font-size: medium;
  padding: 15px;
}

button {
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  border: solid 1px black;
  margin: 20px;
  position: relative;
  top: 70px;
}

.card-container__tags {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
  padding: 15px;
}

li {
  display: flex;
  background-color: lightgray;
  padding: 5px;
  outline: 1px solid black;
  color: black;
  border-radius: 10px;
}

.card_bookmark {
  position: absolute;
  width: 40px;
  right: 5px;
  top: -15px;
}

footer {
  display: inline-block;
  position: fixed;
  border: 2px solid black;
  height: 70px;
  width: 100%;
  bottom: 0px;
  background-color: white;
  text-align: center;
}

footer a img {
  height: 60px;
  margin-top: 5px;
}

.user {
  margin-top: 75px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 50px;
  font-size: 50px;
}

.header_profile {
  text-align: center;
  position: fixed;
  display: flex;
  width: 100%;
  margin-top: -73px;
  background-color: white;
  outline: 2px solid black;
  justify-content: center;
  z-index: 999;
}

.profile__image {
  border-radius: 50%;
  max-width: 25%;
  height: auto;
  align-self: center;
}

.about-me {
  margin-left: 50px;
  width: 80%;
  position: fixed;
}

.questions-bookmarks {
  position: flex;
  flex-direction: row;
  width: 80px;
  margin-top: 80px;
  color: #ffffff;
  border-radius: 10px;
}
